<nav class="menu_superior">
    <h1>Logo</h1>
    <ul>
        {% if "user_role" not in session %}
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Loja</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Promoções</a></li>
        <li><a href="#">Carrinho</a></li>
        <li><a href="/login">Entrar/Cadastrar</a></li>

        {% elif session["user_role"] == "cliente" %}
        <li><a href="/">Home</a></li>
        <li><a href="/shop">Loja</a></li>
        <li><a href="#">Categorias</a></li>
        <li><a href="#">Promoções</a></li>
        <li><a href="#">Carrinho</a></li>
        <li><a href="#">Pedidos</a></li>
        <li><a href="#">Minha Conta</a></li>
        <li><a href="/logout">Sair</a></li>

        {% elif session["user_role"] == "admin" %}
        <li><a href="#">Dashboard</a></li>
        <li><a href="/products">Gerenciar Produtos</a></li>
        <li><a href="#">Pedidos</a></li>
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="#">Cupons e Promoções</a></li>
        <li><a href="#">Configurações</a></li>
        <li><a href="#">Relatorios</a></li>
        <li><a href="/logout">Sair</a></li>
        {% endif %}
    </ul>
</nav>