{% extends 'base.html' %} {% block content %}

{% if produtos %}
<div class="produtos">
  {% for produto in produtos %}
  <div class="produto">
    <a href="{{ url_for('main.product_details_route', product_id=produto[0])}}">
    <img
      src="{{ url_for('static', filename='uploads/' + produto[10]) }}"
      alt=""
      height="350px"
      width="350px"
    />
    <h3>{{produto[1]}} - {{produto[9]}} R$</h3>
</a>
  </div>
  {% endfor%}
</div>
{% else %}
<h1>Nenhum produto Disponivel até o momento</h1>
{% endif %} {% endblock %}
